<h1>RutineX</h1>

<h2>Профіль</h2>
{% if profile %}
<p>Вага: {{ profile.weight }}</p>
<p>Зріст: {{ profile.height }}</p>
<p>Ціль: {{ profile.goal }}</p>
{% else %}
<p>No profile</p>
{% endif %}

<hr>

<h2>Додати тренування</h2>
<form method="post" action="/add-workout/">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Назва тренування">
    <button type="submit">Додати</button>
</form>

<h2>Тренування</h2>
{% for w in workouts %}
<p>{{ w.title }}</p>
{% empty %}
<p>No workouts</p>
{% endfor %}

<hr>

<h2>Додати прийом їжі</h2>
<form method="post" action="/add-meal/">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Назва прийому їжі">
    <input type="number" name="calories" placeholder="Калорії">
    <button type="submit">Додати</button>
</form>

<h2>Прийоми їжі</h2>
{% for m in meals %}
<p>{{ m.name }} - {{ m.calories }}</p>
{% empty %}
<p>No meals</p>
{% endfor %}

<hr>

<h2>Додати звичку</h2>
<form method="post" action="/add-habit/">
    {% csrf_token %}
    <input type="number" step="0.1" name="water_liters" placeholder="Water liters">
    <input type="number" step="0.1" name="sleep_hours" placeholder="Sleep hours">
    <button type="submit">Додати</button>
</form>

<h2>Звички</h2>
{% for h in habits %}
<p>{{ h.date }} | 💧 {{ h.water_liters }}L | 😴 {{ h.sleep_hours }}h</p>
{% empty %}
<p>No habits</p>
{% endfor %}

<hr>

<h2>Додати прогрес</h2>
<form method="post" action="/add-progress/">
    {% csrf_token %}
    <input type="number" step="0.1" name="weight" placeholder="Weight">
    <button type="submit">Додати</button>
</form>

<h2>Прогрес</h2>
{% for p in progress %}
<p>{{ p.date }} - ⚖ {{ p.weight }} kg</p>
{% empty %}
<p>No progress</p>
{% endfor %}

<hr>

<h2>Публічні тренування</h2>
{% for w in public_workouts %}
<p>{{ w.title }} | {{ w.user.user.username }}</p>
{% empty %}
<p>No public workouts</p>
{% endfor %}